.date-sidebar {
  position: fixed;

  top: 40px;
  right: 40px;

  width: 220px;

  background: white;
  border-radius: 12px;
  padding: 20px;

  box-shadow: 0 4px 12px rgba(0,0,0,.1);
}

.date-sidebar h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #2f6cff;
}

.date-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 12px;
  margin-bottom: 10px;

  background: #eef4ff;
  border-radius: 8px;

  cursor: pointer;
  transition: .2s;
}

.date-item:hover {
  background: #dce8ff;
}
.date-right {
    display: flex;
    align-items: center;
    gap: 10px;
}